@import "../../theme.scss";

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

    th, td {
      padding: 18px 15px;
      text-align: left;
      border-bottom: 1px solid var(--border-color-light);
      color: var(--table-text-color);
      transition: color 0.3s ease, border-color 0.3s ease;
    }

    th {
      font-size: 0.9em;
      font-weight: 600;
      background-color: var(--table-header-color);
      transition: background-color 0.3s ease;
    }

    tr:last-child {
        & > td {
            border-bottom: none;
        }
    }

    tr:hover {
      background-color: var(--table-hover-color);
      transition: background-color 0.3s ease;
    }

    td:last-child, th:last-child {
      text-align: right;
    }
    
    .no-data-cell {
      text-align: center;
      color: var(--text-secondary);
      padding: 30px 15px;
    }

    .indicator {
        width: 8px;
        height: 8px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;    

        &.crypto {
            background-color: var(--crypto-color);
        }

        &.stock {
            background-color: var(--stock-color);
        }

        &.fiat {
            background-color: var(--fiat-color);
        }
    }
}