$white: #fff;
$black: #000;

$btn-primary: $black;
$btn-primary-hover: #333;
$btn-primary-text: $white;
$btn-secondary: #efefef;
$btn-secondary-hover: #ddd;
$btn-secondary-text: $black;

$error: #e74c3c;
$border-color: #ddd;
$border-color-focus: #333;
$border-color-light: #eee;

$title-color: #444;