$white: #fff;
$black: #000;

$btn-primary: $black;
$btn-primary-hover: #333;
$btn-primary-text: $white;
$btn-secondary: #efefef;
$btn-secondary-hover: #ddd;
$btn-secondary-text: $black;

$error: #e74c3c;
$border-color: #ddd;
$border-color-focus: #333;
$border-color-light: #eee;

$title-color: #444;

$table-header-color: #f9f9f9;
$table-hover-color: #f5f5f5;
$table-text-color: #555;
$table-indicator-color-crypto: #efc572;
$table-indicator-color-stock: #cd924f;
$table-indicator-color-fiat: #714400;